name: dotnet-ci

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: |
          dotnet restore Framework/Core/Core.sln
          dotnet restore Framework/Cache/Cache.sln

      - name: Build
        run: |
          dotnet build Framework/Core/Core.sln --no-restore -c Release
          dotnet build Framework/Cache/Cache.sln --no-restore -c Release

      - name: Test
        run: |
          dotnet test Framework/Core/Core.sln --no-build -c Release
          dotnet test Framework/Cache/Cache.sln --no-build -c Release
