name: dotnet-ci

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore Framework Core
        run: dotnet restore
        working-directory: ./Framework/Core

      - name: Build Framework Core
        run: dotnet build --no-restore -c Release
        working-directory: ./Framework/Core

      - name: Restore System Layer Project
        run: dotnet restore
        working-directory: ./sys-buddyapp-notificationservice-mgmt

      - name: Build System Layer Project
        run: dotnet build --no-restore -c Release
        working-directory: ./sys-buddyapp-notificationservice-mgmt

      - name: Test
        run: |
          if [ -d "./Framework/Core" ]; then
            cd ./Framework/Core && dotnet test --no-build -c Release || true
          fi
          if [ -d "./sys-buddyapp-notificationservice-mgmt" ]; then
            cd ./sys-buddyapp-notificationservice-mgmt && dotnet test --no-build -c Release || true
          fi
